<h1> Register</h1>

<form  action = "" method = "POST"  enctype = "multipart/form-data">
    <input type = "text" name = "name"  placeholder = "Enter Name " required>
    <br></br>
    <input type = "email" name = "email"  placeholder = "Enter Email " required>
    <br></br>
    <input type = "password" name = "name"  placeholder = "Enter Password " required>
    <br></br>
    <input type = "Submit" value = "Register">

</form>